<footer class="footer {{template.name}}">
  <div class="container">

    <div class="footer-top">
      <div class="col--left">
        {% form 'customer', id: 'ContactFooter' %}
          {%- if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
          {%- endif -%}

          {% if form.posted_successfully? %}
            <p class="form-message form-message--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}

            <label for="Email">
              <h4>{{ 'general.newsletter_form.newsletter_email' | t }}</h4>
            </label>

            <div class="input-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    {%- if form.errors -%}
                    aria-invalid="true"
                    {%- endif -%}
                    autocorrect="off"
                    autocapitalize="off">

              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </div>
          {% endif %}
        {% endform %}

        {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
        <ul class="social-links">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                  {% include social_icon %}
                  <span class="icon-fallback-text">{{ social }}</span>
                </a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>

      <div class="col--right">
        {%- unless template.name == 'password' -%}
          {%- assign footer_linklist = section.settings.footer_linklist -%}
          {% if linklists[footer_linklist].links.size > 0 %}
            <ul class="footer-menu">
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {%- endunless -%}
      </div>

      <i class="zebra">{% include 'zebra' %}</i>
    </div>



    <div class="links">
      <p class="copy-links">
        <span class="copy">
          {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}
        </span>
        <span>{{ shop.name | link_to: '/' }}</span>
      </p>

      {%- unless template.name == 'password' -%}
        {% if section.settings.show_payment_icons %}
          {% unless shop.enabled_payment_types == empty %}
            {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,google_pay,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

            <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
            <ul class="payment-icons">
              {% for type in shop.enabled_payment_types %}
                {% if payment_icons_available contains type %}
                  <li>
                    {%- assign icon_name = type | prepend: 'icon-' -%}
                    {% include icon_name %}
                    <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endunless %}
        {% endif %}
      {%- endunless -%}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
